.key-button .icon {
	-fx-background-color: transparent;
	-fx-border-color: -fx-text-background-color;
	-fx-border-width: 0.5;
}

.key-button:pressed, .key-button:touched,
#osk:shift .shift_l,
#osk:shift .shift_r,
#osk:control .control_l,
#osk:control .control_r,
#osk:alt .alt_l,
#osk:alt .alt_r,
#osk:altGraph .alt_graph,
#osk:meta .os_l,
#osk:meta .os_r,
#osk:caps .caps {
	-fx-base: -fx-default-button;
}
